extends template.pug

block content

    .row
        h1.text-center Free Code Camp
        h2.text-center Weather App
    .row
        h4.text-center#location
        h4.text-center#temperature Show Temperature
    .row
        .footer.panel.panel-default
            .panel-body.text-center
                span Created by 
                    a(href="http://alegre.herokuapp.com" target="_blank") Alexander Alegre. 
                span For the code please go 
                    a(href="https://github.com/alexander-alegre/FCC-WeatherApp" target="_blank") here.