doctype html
html(lang="en")
    head
        title FCC Weather App
        link(rel="stylesheet", href="./css/bootstrap.min.css")
        link(rel="stylesheet", href="./css/app.css")
        script(src="./js/jquery.min.js")
        script(src="./js/location.js")
    body
        .container
            block content